<h1>Two-Step Verification</h1>
<%= form_with url: verification_path, local: true do |f| %>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, value: current_user.phone_number %>
  </div>
  <div class="actions">
    <%= f.submit "Send Verification Code" %>
  </div>
<% end %>
