<h1>Enter Verification Code</h1>
<%= form_with url: confirm_verification_path, local: true do |f| %>
  <div class="field">
    <%= f.label :verification_code %>
    <%= f.text_field :verification_code %>
  </div>
  <div class="actions">
    <%= f.submit "Verify" %>
  </div>
<% end %>
