<div class="screen auth-screen" id="auth-screen">
  <p>Sign in now</p>
  <form>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <button type="submit">Sign In</button>
    <a href="#">Forgot Password?</a>
  </form>
  <p>Or</p>
  <button id="sign-up">Sign Up</button>
</div>
