<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya Libre Medium:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gill Sans MT:wght@400&display=swap" />
    
    
    
</head>
<body>
    
    <div class="onboard-2">
        <img class="f47f9144194941-1-icon" alt="" src="/assets/7f47f9144194941 1.png">
        
        <div class="group-parent">
            <div class="group-container">
                <div class="the-world-is-wide-and-our-dre-parent">
                    <div class="the-world-is">The world is wide, and our dreams are wider</div>
                    <img class="group-childd" alt="" src="/assets/Vector 2524.svg">
                    
                </div>
                <div class="to-get-the">To get the best of your adventure you just need to leave and go where you like. we are waiting for you</div>
            </div>
            <div class="rectangle-parent">
                <div class="group-item">
                </div>
                <div class="group-inner">
                </div>
                <div class="rectangle-div">
                </div>
            </div>
        </div>
        <div class="rectangle-group">
            <div class="group-childd1">
            </div>
            <b class="next">Next</b>
        </div>

        <div class="skip">Skip</div>
        <div class="home-indicator">
            <div class="home-indicator1">
            </div>
        </div>
    </div>
    
    
    
    
</body>
</html>

<style type="text/css">
  .f47f9144194941-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    width: 375px;
    height: 444px;
    object-fit: cover;
}
.the-world-is {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 36px;
    display: inline-block;
    width: 321px;
}
.group-childd {
    position: absolute;
    top: 73px;
    left: 169.57px;
    width: 102.1px;
    height: 10.8px;
    object-fit: contain;
}
.the-world-is-wide-and-our-dre-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 321px;
    height: 83.8px;
}
.to-get-the {
    position: absolute;
    top: 91.92px;
    left: 13px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Abhaya Libre Medium';
    color: #7d848d;
    display: inline-block;
    width: 294px;
}
.group-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 321px;
    height: 163.9px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 17px;
    border-radius: 16px;
    background-color: #ff6b6b;
    width: 35px;
    height: 7px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #caeaff;
    width: 13px;
    height: 7px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 56px;
    border-radius: 16px;
    background-color: #caeaff;
    width: 6px;
    height: 7px;
}
.rectangle-parent {
    position: absolute;
    top: 188px;
    left: 129px;
    width: 62px;
    height: 7px;
}
.group-parent {
    position: absolute;
    top: 484px;
    left: 27px;
    width: 321px;
    height: 195px;
    color: #1b1e28;
}
.group-childd1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #ff6b6b;
    width: 335px;
    height: 56px;
}
.next {
    position: absolute;
    top: 18px;
    left: 152px;
    line-height: 20px;
}
.rectangle-group {
    position: absolute;
    top: 716px;
    left: 20px;
    width: 335px;
    height: 56px;
    font-size: 16px;
    font-family: 'Abhaya Libre';
}
.border {
    position: absolute;
    top: 0px;
    right: 2.3px;
    border-radius: 2.67px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 22px;
    height: 11.3px;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.cap-icon {
    position: absolute;
    top: 3.67px;
    right: 0px;
    width: 1.3px;
    height: 4px;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity {
    position: absolute;
    top: 2px;
    right: 4.3px;
    border-radius: 1.33px;
    background-color: #fff;
    width: 18px;
    height: 7.3px;
}
.battery {
    position: absolute;
    top: 19.33px;
    right: 18.37px;
    width: 24.3px;
    height: 11.3px;
}
.wifi-icon {
    position: relative;
    width: 14.7px;
    height: 11px;
}
.cellular-connection-icon {
    position: relative;
    width: 16.3px;
    height: 10.7px;
}
.time {
    position: absolute;
    top: calc(50% - 7.5px);
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.time-style {
    position: absolute;
    top: 12px;
    left: 21px;
    width: 54px;
    height: 21px;
}
.status-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 48px;
    font-size: 15px;
    font-family: 'SF Pro Text';
}
.skip {
    position: absolute;
    top: 56px;
    left: 325px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gill Sans MT';
    color: #caeaff;
}
.home-indicator1 {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 66.5px);
    border-radius: 100px;
    background-color: #1b1e28;
    width: 134px;
    height: 5px;
}
.home-indicator {
    position: absolute;
    top: 778px;
    left: calc(50% - 187.5px);
    width: 375px;
    height: 34px;
}
.onboard-2 {
    width: 100%;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Playfair Display';
}


</style>