<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gill Sans MT:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya Libre Medium:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400&display=swap" />
    
    
    
</head>
<body>
    
    <div class="onboard-1">
        <img class="afbea499038243-1-icon" alt="" src="/assets/afbea499038243 1.png">
        
        <div class="skip">Skip</div>
        <div class="rectangle-parent">
            <div class="group-child">
            </div>
            <b class="get-started">Get Started</b>
        </div>
        <div class="group-parent">
            <div class="group-container">
                <img class="group-item" alt="" src="/assets/Group 271.svg">
                
                <div class="adventures-that-will">"Adventures that will make your heart race are waiting!</div>
            </div>
            <div class="rectangle-group">
                <div class="group-inner">
                </div>
                <div class="rectangle-div">
                </div>
                <div class="group-child1">
                </div>
            </div>
        </div>
        <div class="home-indicator">
            <div class="home-indicator1">
            </div>
        </div>
        <div class="short-life-container">
            <span>Short life & Infinite</span>
            <span class="journeys"> journeys</span>
        </div>
    </div>
    
    
    
    
</body>
</html>
<style type="text/css">
  .afbea499038243-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    width: 375px;
    height: 444px;
    object-fit: cover;
}
.skip {
    position: absolute;
    top: 56px;
    left: 325px;
    font-size: 18px;
    line-height: 24px;
    color: #caeaff;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #ff6b6b;
    width: 335px;
    height: 56px;
}
.get-started {
    position: absolute;
    top: 18px;
    left: 129px;
    line-height: 20px;
}
.rectangle-parent {
    position: absolute;
    top: 716px;
    left: 20px;
    width: 335px;
    height: 56px;
    font-family: 'Abhaya Libre';
}
.group-item {
    position: absolute;
    top: 0px;
    left: 176.53px;
    width: 63px;
    height: 10.6px;
}
.adventures-that-will {
    position: absolute;
    top: 18.3px;
    left: 0px;
    line-height: 24px;
    display: inline-block;
    width: 303px;
}
.group-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 303px;
    height: 66.3px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #ff6b6b;
    width: 35px;
    height: 7px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 39px;
    border-radius: 16px;
    background-color: #caeaff;
    width: 13px;
    height: 7px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 56px;
    border-radius: 16px;
    background-color: #caeaff;
    width: 6px;
    height: 7px;
}
.rectangle-group {
    position: absolute;
    top: 114px;
    left: 120px;
    width: 62px;
    height: 7px;
}
.group-parent {
    position: absolute;
    top: 557px;
    left: 36px;
    width: 303px;
    height: 121px;
    color: #7d848d;
    font-family: 'Abhaya Libre Medium';
}
.border {
    position: absolute;
    top: 0px;
    right: 2.3px;
    border-radius: 2.67px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 22px;
    height: 11.3px;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.cap-icon {
    position: absolute;
    top: 3.67px;
    right: 0px;
    width: 1.3px;
    height: 4px;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity {
    position: absolute;
    top: 2px;
    right: 4.3px;
    border-radius: 1.33px;
    background-color: #fff;
    width: 18px;
    height: 7.3px;
}
.battery {
    position: absolute;
    top: 19.33px;
    right: 18.37px;
    width: 24.3px;
    height: 11.3px;
}
.wifi-icon {
    position: relative;
    width: 14.7px;
    height: 11px;
}
.cellular-connection-icon {
    position: relative;
    width: 16.3px;
    height: 10.7px;
}
.time {
    position: absolute;
    top: calc(50% - 7.5px);
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.time-style {
    position: absolute;
    top: 12px;
    left: 21px;
    width: 54px;
    height: 21px;
}
.status-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 48px;
    font-size: 15px;
    font-family: 'SF Pro Text';
}
.home-indicator1 {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 66.5px);
    border-radius: 100px;
    background-color: #1b1e28;
    width: 134px;
    height: 5px;
}
.home-indicator {
    position: absolute;
    top: 778px;
    left: calc(50% - 187.5px);
    width: 375px;
    height: 34px;
}
.journeys {
    color: #ff7029;
}
.short-life-container {
    position: absolute;
    top: 479px;
    left: 13px;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Playfair Display';
    display: inline-block;
    width: 321px;
    color: #1b1e28;
}
.onboard-1 {
    width: 100%;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Gill Sans MT';
}
</style>