
<div class="splash">
  <div class="splash-child">
</div>
  <div class="div">
    <div class="status-bar"><div class="rectangle"></div></div>
    <img src="/assets/travenor_logo.png" alt="Travenor Logo" class="pikaso-texttoimage-a">
    <div class=""><div class="text-wrapper" style="color:white; text-align: center;">&nbsp;&nbsp;Travenor</div></div>
  </div>
</div>