<div id="app">
  <div id="splash-screen" class="splash-screen">
    <%= render 'home/splash' %>
  </div>
  <div id="onboarding-screens" class="onboarding-screen hidden">
    <div class="onboarding-step" id="onboarding1">
      <%= render 'home/onboarding1' %>
    </div>
    <div class="onboarding-step" id="onboarding2">
      <%= render 'home/onboarding2' %>
    </div>
    <div class="onboarding-step" id="onboarding3">
      <%= render 'home/onboarding3' %>
    </div>
  </div>
</div>
<style type="text/css">
  .onboarding-screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .onboarding-screen > .onboarding-step {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: white; /* Added background color for visibility */
  }

  .onboarding-screen > .onboarding-step.active {
    transform: translateX(0);
  }

  .onboarding-screen > .onboarding-step.slide-out-left {
    transform: translateX(-100%);
  }
</style>