<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@400;700&display=swap" />
    <style type="text/css">
        .home {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;
            background-color: #fff;
            text-align: left;
            font-size: 15px;
            color: #1b1e28;
            font-family: 'Abhaya Libre';
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 24px; /* Rounder edges */
        }

        .group-container {
            position: absolute;
            top: 256px;
            left: 20px;
            width: 352px;
            height: 428px;
            font-size: 20px;
        }

        .group-child {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 22px;
            background-color: #f7f7f9;
            width: auto;
            height: 44px;
            padding: 0 10px;
            white-space: nowrap;
        }

        .pauline-r-wrapper {
            position: absolute;
            top: 14px;
            left: 47px;
            height: 16px;
        }

        .rectangle-div {
            margin: 0 auto;
            box-shadow: 0px 6px 16px rgba(180, 188, 201, 0.12);
            border-radius: 24px;
            background-color: #fff;
            width: 329px;
            height: 384px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .group-icon {
            width: 324.8px;
            height: 286px;
            object-fit: cover;
            border-radius: 24px; /* Rounder edges */
        }

        .group-wrapper {
            position: absolute;
            top: 44px;
            left: 0px;
            width: 342px;
            height: 384px;
            display: flex;
            overflow: hidden;
        }

        .carousel-wrapper {
            display: flex;
            transition: transform 1s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .border {
            position: absolute;
            top: 0px;
            right: 2.3px;
            border-radius: 2.67px;
            border: 1px solid #1b1e28;
            box-sizing: border-box;
            width: 22px;
            height: 11.3px;
            opacity: 0.35;
            mix-blend-mode: normal;
        }

        .cap-icon {
            position: absolute;
            top: 3.67px;
            right: 0px;
            width: 1.3px;
            height: 4px;
            opacity: 0.4;
            mix-blend-mode: normal;
        }

        .capacity {
            position: absolute;
            top: 2px;
            right: 4.3px;
            border-radius: 1.33px;
            background-color: #1b1e28;
            width: 18px;
            height: 7.3px;
        }

        .battery {
            position: absolute;
            top: 19.33px;
            right: 18.37px;
            width: 24.3px;
            height: 11.3px;
        }

        .wifi-icon {
            position: relative;
            width: 14.7px;
            height: 11px;
        }

        .cellular-connection-icon {
            position: relative;
            width: 16.3px;
            height: 10.7px;
        }

        .time {
            position: absolute;
            top: calc(50% - 7.5px);
            left: 0px;
            font-weight: 600;
            display: inline-block;
            width: 54px;
        }

        .time-style {
            position: absolute;
            top: 12px;
            left: 21px;
            width: 54px;
            height: 21px;
        }

        .status-bar {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 375px;
            height: 48px;
            text-align: center;
            font-family: 'SF Pro Text';
        }

        .group-item {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 37px;
            height: 37px;
            object-fit: cover;
        }

        .pauline-r {
            position: absolute;
            top: 0px;
            left: 0px;
            line-height: 16px;
        }

        .rectangle-parent {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 44px;
        }

        .menuicon {
            position: absolute;
            top: 0px;
            left: 291px;
            width: 44px;
            height: 44px;
        }

        .group-parent {
            position: absolute;
            top: 56px;
            left: 20px;
            width: 335px;
            height: 44px;
            font-size: 14px;
        }

        .beautiful {
            color: #1b1e28;
        }

        .world {
            color: #ff7029;
        }

        .explore-the-beautiful-container {
            position: absolute;
            top: 0px;
            left: 0px;
            line-height: 50px;
            display: inline-block;
            width: 300px;
            height: 99.6px;
        }

        .group-inner {
            position: absolute;
            top: 91.2px;
            left: 167.84px;
            width: 99px;
            height: 10.8px;
            object-fit: contain;
        }

        .explore-the-beautiful-world-parent {
            position: absolute;
            top: 124px;
            left: 20px;
            width: 300px;
            height: 102px;
            font-size: 38px;
            color: #2e323e;
        }

        .welcome-pauline {
            position: absolute;
            top: 0px;
            left: 0px;
            line-height: 28px;
        }

        .view-all {
            position: absolute;
            top: 6px;
            left: 290px;
            font-size: 14px;
            line-height: 16px;
            color: #ff7029;
            text-align: right;
        }

        .welcome-pauline-parent {
            position: absolute;
            top: 0px;
            left: 17px;
            width: 335px;
            height: 28px;
        }

        .home-child {
            position: absolute;
            top: 645.56px;
            left: 152px;
            width: 42px;
            height: 8.6px;
        }

        .google-translate-logosvg-1-icon {
            position: absolute;
            top: 69px;
            left: 153px;
            width: 21px;
            height: 21px;
            object-fit: cover;
            display: none;
        }

        .rectangle-icon {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 30px;
            width: 375px;
            height: 98px;
        }

        .home-icon {
            width: 24px;
            position: relative;
            height: 24px;
            overflow: hidden;
            flex-shrink: 0;
        }

        .div {
            position: absolute;
            top: 0px;
            left: calc(50% - 162.5px);
            width: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8px 0px;
            box-sizing: border-box;
            gap: 4px;
        }

        .ai-chatbot {
            position: relative;
            line-height: 16px;
        }

        .div1 {
            position: absolute;
            top: 0px;
            left: calc(50% + 77.5px);
            width: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8px 0px;
            box-sizing: border-box;
            gap: 4px;
            color: #7d848d;
        }

        .home-indicator1 {
            position: absolute;
            bottom: 8px;
            left: calc(50% - 66.5px);
            border-radius: 100px;
            background-color: #1b1e28;
            width: 134px;
            height: 5px;
        }

        .home-indicator {
            position: absolute;
            top: 42px;
            left: calc(50% - 187.5px);
            width: 375px;
            height: 34px;
        }

        .group {
            position: absolute;
            top: 22px;
            left: calc(50% - 187.5px);
            width: 375px;
            height: 76px;
        }

        .rectangle {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
        }

        .group1 {
            width: 24px;
            position: relative;
            height: 24px;
        }

        .vector-icon {
            width: 28px;
            position: relative;
            height: 21px;
        }

        .searchicon {
            width: 50px;
            box-shadow: 0px 8px 19px rgba(13, 110, 253, 0.17);
            border-radius: 50px;
            background-color: #ff6b6b;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 12px;
            box-sizing: border-box;
            gap: 8px;
        }

        .searchicon-wrapper {
            position: absolute;
            top: 24px;
            left: calc(50% - 24.5px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        .vector-parent {
            position: absolute;
            top: 714px;
            left: 0px;
            width: 375px;
            height: 98px;
            font-size: 12px;
            color: #24baec;
        }
        .logout-button {
            position: absolute;
            top: 15px; /* Adjust the top position as needed */
            right: 20px; /* Adjust the right position as needed */
            background: none;
            border: none;
            color: #ff6b6b;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            font-family: inherit;
        }

        .logout-button:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <div class="home">
        <div class="group-parent">
            <div class="rectangle-parent">
                <div class="group-child"></div>
                <img class="group-item" alt="" src="/assets/Group 30.svg" onclick="window.location.href='http://localhost:3000/';">
                <div class="pauline-r-wrapper">
                    <div class="pauline-r"><%= current_user.email %></div>
                </div>
            </div>
        </div>
        <form id="logout-form" action="<%= destroy_user_session_path %>" method="POST">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="logout-button">Logout</button>
        </form>

        <div class="explore-the-beautiful-world-parent">
            <b class="explore-the-beautiful-container">
                <span>Explore the</span>
                <span class="beautiful"> Beautiful </span>
                <span class="world">world!</span>
            </b>
            <img class="group-inner" alt="" src="/assets/Vector 2524.svg">
        </div>

        <div class="group-container">
            <div class="welcome-pauline-parent">
                <b class="welcome-pauline">Welcome</b>
                <div class="view-all"></div>
            </div>

            <div id="carousel" class="group-wrapper">
                <div class="carousel-wrapper">
                    <div class="carousel-item">
                        <img src="/assets/Group 21.png" alt="Image 1" class="group-icon">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Group 22.png" alt="Image 2" class="group-icon">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Group 23.png" alt="Image 3" class="group-icon">
                    </div>
                </div>
            </div>
        </div>

        <img class="home-child" alt="" src="/assets/Group 415.svg">

        <div class="vector-parent">
            <img class="rectangle-icon" alt="" src="/assets/Rectangle 15.png">

            <div class="group">
                <div class="div" onclick="window.location.href='/trip_startdate';">
                    <img class="home-icon" alt="" src="/assets/Home.svg">
                    <b class="ai-chatbot">Home</b>
                </div>
                <div class="div1">
                    <img class="home-icon" alt="" src="/assets/Caht.svg" onclick="window.location.href='/pages/step1';">
                    <div class="ai-chatbot">AI Chatbot</div>
                </div>
                <div class="home-indicator">
                    <div class="home-indicator1"></div>
                </div>
            </div>

            <div class="searchicon-wrapper">
                <div class="searchicon" onclick="window.location.href='/trip/start_date';" style="cursor: pointer;">
                    <div class="group1">
                        <div class="rectangle"></div>
                    </div>
                    <img class="vector-icon" alt="" src="/assets/Search/Vector.svg">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            let currentIndex = 0;
            const carouselWrapper = document.querySelector('.carousel-wrapper');
            const items = document.querySelectorAll('.carousel-item');
            const totalItems = items.length;

            function showNext() {
                currentIndex = (currentIndex + 1) % totalItems;
                const offset = -currentIndex * 100;
                carouselWrapper.style.transform = `translateX(${offset}%)`;
            }

            setInterval(showNext, 3000); // Change every 3 seconds
        });
    </script>
</body>
</html>
