<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet"  href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
    
    
    
</head>
<body>
    
    <div class="welcome-screen-3">
        <div class="frame-parent">
            <div class="vector-parent">
                <img class="vector-icon" alt="" src="/assets/Vector.svg">
                
                <b class="welcome-to-travel-container">
                    <p class="welcome-to">Welcome to</p>
                    <p class="welcome-to">Travel Bot</p>
                </b>
                <div class="ask-anything-get">Ask anything, get yout answer</div>
            </div>
            <div class="frame-group">
                <div class="group-parent">
                    <img class="frame-child" alt="" src="/assets/Group 1.svg">
                    
                    <div class="warning">Warning</div>
                </div>
                <div class="frame-container">
                    <div class="may-occasionally-generate-inco-wrapper">
                        <div class="may-occasionally-generate">May occasionally generate incorrect information</div>
                    </div>
                    <div class="may-occasionally-generate-inco-wrapper">
                        <div class="may-occasionally-generate">May occasionally produce harmful instructions or biased content</div>
                    </div>
                    <div class="may-occasionally-generate-inco-wrapper">
                        <div class="may-occasionally-generate">Limited knowledge of world and events after 2021</div>
                    </div>
                </div>
            </div>
            <div class="frame-div">
                <div class="rectangle-parent">
                    <div class="frame-item">
                    </div>
                    <div class="frame-item">
                    </div>
                    <div class="rectangle-div">
                    </div>
                </div>
                <div class="lets-chat-parent">
                    <b class="lets-chat" onclick="window.location.href='/chatbot';">Let’s Chat</b>
                    <img class="frame-child1" alt="" src="Vector 2.svg">
                    
                </div>
            </div>
        </div>
        <div class="bars-home-indicator-iphone">
            <div class="home-indicator">
            </div>
        </div>
    </div>
    
    
    
    
</body>
</html>
<style type="text/css">
  .vector-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.welcome-to {
    margin: 0;
}
.welcome-to-travel-container {
    align-self: stretch;
    position: relative;
}
.ask-anything-get {
    position: relative;
    font-size: 16px;
    font-weight: 600;
}
.vector-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-child {
    width: 23.1px;
    position: relative;
    height: 20px;
}
.warning {
    position: relative;
    font-weight: 500;
}
.group-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.may-occasionally-generate {
    width: 260px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.may-occasionally-generate-inco-wrapper {
    width: 335px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    font-size: 20px;
}
.frame-item {
    width: 28px;
    position: relative;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
}
.rectangle-div {
    width: 28px;
    position: relative;
    border-radius: 12px;
    background-color: #10a37f;
    height: 2px;
}
.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.lets-chat {
    position: relative;
}
.frame-child1 {
    width: 10.6px;
    position: relative;
    height: 8px;
}
.lets-chat-parent {
    width: 335px;
    border-radius: 8px;
    background-color: #10a37f;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
    gap: 12px;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
}
.frame-parent {
    position: absolute;
    top: 82px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.border {
    position: absolute;
    top: 0px;
    right: 2.3px;
    border-radius: 2.67px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 22px;
    height: 11.3px;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.cap-icon {
    position: absolute;
    top: 3.67px;
    right: 0px;
    width: 1.3px;
    height: 4px;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity {
    position: absolute;
    top: 2px;
    right: 4.3px;
    border-radius: 1.33px;
    background-color: #fff;
    width: 18px;
    height: 7.3px;
}
.battery {
    position: absolute;
    top: 17.33px;
    right: 14.37px;
    width: 24.3px;
    height: 11.3px;
}
.wifi-icon {
    position: relative;
    width: 15.3px;
    height: 11px;
}
.cellular-connection-icon {
    position: relative;
    width: 17px;
    height: 10.7px;
}
.time {
    position: absolute;
    top: 6px;
    left: 0px;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.time-style {
    position: absolute;
    height: 47.73%;
    width: 14.4%;
    top: 15.91%;
    right: 80%;
    bottom: 36.36%;
    left: 5.6%;
}
.bars-status-bar-iphone-l {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 44px;
}
.bowser-ios-firefox-dark {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 44px;
    overflow: hidden;
    font-size: 15px;
    font-family: 'SF Pro Text';
}
.home-indicator {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 67px);
    border-radius: 100px;
    background-color: #fff;
    width: 134px;
    height: 5px;
}
.bars-home-indicator-iphone {
    position: absolute;
    top: 778px;
    left: 121px;
    width: 134px;
    height: 34px;
}
.welcome-screen-3 {
    width: 100%;
    position: relative;
    background-color: #343541;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-family: Raleway;
}


</style>