<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
</head>
<body>

    <div class="welcome-screen-1">
        <div class="frame-parent">
            <div class="welcome-to-travelbot-parent">
                <b class="welcome-to-travelbot-container">
                    <p class="welcome-to">Welcome to</p>
                    <p class="welcome-to">TravelBot</p>
                </b>
                <div class="ask-anything-get">Ask anything, get yout answer</div>
            </div>
            <div class="frame-group">
                <div class="frame-container">
                    <img class="frame-icon" alt="" src="/assets/Frame.svg">
                    
                    <div class="examples">Examples</div>
                </div>
                <div class="frame-div">
                    <div class="share-your-interests-and-ill-wrapper">
                        <div class="share-your-interests">Share your interests, and I’ll suggest exciting destinations in South Korea!"</div>
                    </div>
                    <div class="share-your-interests-and-ill-wrapper">
                        <div class="share-your-interests">"Share what you’re into, and I’ll find the best local experiences for you!"</div>
                    </div>
                    <div class="share-your-interests-and-ill-wrapper">
                        <div class="share-your-interests">"Tell me your location, and I'll create a custom itinerary with nearby spots</div>
                    </div>
                </div>
            </div>
            <div class="frame-parent1">
                <div class="rectangle-parent">
                    <div class="frame-child">
                    </div>
                    <div class="frame-item">
                    </div>
                    <div class="frame-item">
                    </div>
                </div>
                <div class="next-wrapper">
                    <b class="next" onclick="window.location.href='/pages/step2';">Next</b>
                </div>
            </div>
        </div>

        <div class="bars-home-indicator-iphone">
            <div class="home-indicator">
            </div>
        </div>
    </div>
    
    
    
    
</body>
</html>
<style type="text/css">
  .welcome-to {
    margin: 0;
}
.welcome-to-travelbot-container {
    align-self: stretch;
    position: relative;
}
.ask-anything-get {
    position: relative;
    font-size: 16px;
    font-weight: 600;
}
.welcome-to-travelbot-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.examples {
    position: relative;
    font-weight: 500;
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.share-your-interests {
    width: 260px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.share-your-interests-and-ill-wrapper {
    width: 335px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    font-size: 20px;
}
.frame-child {
    width: 28px;
    position: relative;
    border-radius: 12px;
    background-color: #ff6b6b;
    height: 2px;
}
.frame-item {
    width: 28px;
    position: relative;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
}
.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.next {
    position: relative;
}
.next-wrapper {
    width: 335px;
    border-radius: 8px;
    background-color: #ff6b6b;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
}
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
}
.frame-parent {
    position: absolute;
    top: 82px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.border {
    position: absolute;
    top: 0px;
    right: 2.3px;
    border-radius: 2.67px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 22px;
    height: 11.3px;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.cap-icon {
    position: absolute;
    top: 3.67px;
    right: 0px;
    width: 1.3px;
    height: 4px;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity {
    position: absolute;
    top: 2px;
    right: 4.3px;
    border-radius: 1.33px;
    background-color: #fff;
    width: 18px;
    height: 7.3px;
}
.battery {
    position: absolute;
    top: 17.33px;
    right: 14.37px;
    width: 24.3px;
    height: 11.3px;
}
.wifi-icon {
    position: relative;
    width: 15.3px;
    height: 11px;
}
.cellular-connection-icon {
    position: relative;
    width: 17px;
    height: 10.7px;
}
.time {
    position: absolute;
    top: 6px;
    left: 0px;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.time-style {
    position: absolute;
    height: 47.73%;
    width: 14.4%;
    top: 15.91%;
    right: 80%;
    bottom: 36.36%;
    left: 5.6%;
}
.bars-status-bar-iphone-l {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 44px;
}
.bowser-ios-firefox-dark {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 44px;
    overflow: hidden;
    font-size: 15px;
    font-family: 'SF Pro Text';
}
.home-indicator {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 67px);
    border-radius: 100px;
    background-color: #fff;
    width: 134px;
    height: 5px;
}
.bars-home-indicator-iphone {
    position: absolute;
    top: 778px;
    left: 121px;
    width: 134px;
    height: 34px;
}
.welcome-screen-1 {
    width: 100%;
    position: relative;
    background-color: #343541;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-family: Raleway;
}


</style>