body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#app {
  width: 375px; /* Mobile width */
  height: 812px; /* Mobile height */
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  background-color: white;
}

.hidden {
  display: none;
}

.splash {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.splash .overlap-group-wrapper {
  overflow: hidden;
  width: 375px;
  height: 812px;
}

.splash .overlap-group {
  position: relative;
  height: 814px;
  background-color: #ec5472;
}

.splash .pikaso-texttoimage-a {
  position: absolute;
  width: 184px;
  height: 247px;
  top: 282px;
  left: 95px;
  object-fit: cover;
}

.splash .text-wrapper {
  position: absolute;
  top: 714px;
  left: 101px;
  font-family: "Aclonica-Regular", Helvetica;
  font-weight: 400;
  color: var(--lightwhite-color);
  font-size: 34px;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
}

.splash-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ec5472;
  width: 375px;
  height: 814px;
}


.onboard-1.active, .onboard-2.active, .onboard-3.active {
  display: block; /* Show active screen */
}
